<!DOCTYPE html>
<html>
    <head>
        <title>$title$ - Kiln Example Site</title>
        <!--<common_head>-->
        <!-- Must come after common_head's site.css above, so this post's narrower subset wins the unicode-range overlap -->
        <link href="$webroot$fonts-subset/$slug$.css" rel="stylesheet">
    </head>
    <body>
        <!--<navbar>-->
        <div class="header">
            <h1>$title$</h1>
            <p class="author">$author$<br>$date$</p>
        </div>
        <main>
            $body$
        </main>
        <!--<navigator>-->
        <!--<search_panel>-->
        <!--<footnotes>-->
    </body>
</html>
