<!DOCTYPE html>
<html>
    <head>
        <title>$title$ - Kiln Example Site</title>
        <!--<common_head>-->
    </head>
    <body>
        <!--<navbar>-->
        <div class="header">
            <h1>$title$</h1>
            <p class="author">$author$<br>$date$</p>
        </div>
        <div class="abstract">
            $abstract$
        </div>
        <nav role="navigation" class="toc">
            <h2>
                Contents
                <i class="material-icons icon" id="toc-control">remove</i>
            </h2>
            <div id="toc-items" style="display: inherit;">
                $toc$
            </div>
        </nav>
        <main>
            $body$
        </main>
        <!--<navigator>-->
        <!--<search_panel>-->
        <!--<footnotes>-->
    </body>
</html>
